@media  screen and (max-width: 1049px) {
    #navbarSupportedContent{
        display: none;
    }
    
}
@media  screen and (min-width: 900px) {
    #april-ps-plus{
        display: none;
    }
    
}