:root {
    --begie: rgb(162, 45, 0);
    --lightblue:(#2D64E6);
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix:after{
    content: '';
    display:table;
    clear: both;
}
a:hover{
    text-decoration: none;
}
.btn {
    border: 1px solid black  ;
    display: inline-block;
    border-radius: 40px;
    padding: 9px 32px;
    background-color: var(--begie);
    color: #fff;
    text-decoration: none;
}
.btn:hover{
    border-color: rgb(162, 45, 0) ;
}
.btn-blue {
    border: 1px solid white;
    display: inline-block;
    border-radius: 40px;
    padding: 9px 32px;
    background-color: #2D64E6;
    color: #fff;
    text-decoration: none;
}
.btn-blue:hover{
    border-color: #2D64E6;
}
.btn-black {
    border: 1px solid white;
    display: inline-block;
    border-radius: 40px;
    padding: 9px 32px;
    background-color: black;
    color: #fff;
    text-decoration: none;
}
.btn-black:hover{
    border-color: black;
}
.btn-style1{
    border: 1px solid #C7C4C4;
    display: inline-block;
    border-radius: 40px;
    padding: 9px 32px;
    background-color: rgb(167, 167, 167);
    color: #2D64E6;
    text-decoration: none;
}
.btn-style1:hover{
    border-color: rgb(167, 167, 167);
}
.btn-style2{
    border: 1px solid #1E1F57;
    display: inline-block;
    border-radius: 40px;
    padding: 9px 32px;
    background-color: white;
    color: black;
    text-decoration: none;
}
.btn-style2:hover{
    border-color: white;
}
header{
    position: fixed;
    width: 100%;
    z-index: 2000;
}
.header-top{
    background-color: black; 
}
.header-top img{
    width: 100px;
    padding: 10px; 
}
.navbar-nav i{
    vertical-align: middle;
}
li i{
    vertical-align: middle;
}
#nav-container1{
    min-width: 640px;
}
#glass{
    font-size: 30px;
    color: black;
}

#accedibtn{
    padding: 9px 20px;
}
#jumbotron{
    background-position-y: 110.08px ;
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 670px;
    background-image: url(./img/jumbo-bg.png);
}

#jumbo-wrapper{
    max-width: 700px;
}
.colpadding{
    padding-top: 370px;
}
.img-container img{
    padding: 2px;
    border-radius: 20px;
}
.img-container{
    border: 1px solid white;
    min-width: 164px;
    width: 100%;
    border-radius: 20px;
}

.img-container:hover{
    border: 1px solid blue;
}
#game{
    width: 100%;
    height: 670px;
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
}
#game-card{
    background-color:black;
}
#playstationplus{
    background-color: #C7C4C4;
}
#april-ps-plus{
    float: right;
    width: 50%;
}
#playstationnow{
    background-color: #1E1F57;
}
#avengers{
    float: right;
    width: 50%;
}
footer{
    background-color: #2D64E6; 
}
#footer-logo{
    width: 100px;
}
.sqweer-hover{
    width: 198px;
    height: 198px;
    background-color: black;
}








@keyframes example {
    from {margin-top: 0;}
    to {margin-top: -10px;}
  }
  
  /* The element to apply the animation to */
  .img-container:hover{
    animation-name: example;
    animation-duration: 1s;
  }