:root {
    --begie: rgb(162, 45, 0);
    --lightblue: rgb(#2D64E6);
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix:after{
    content: '';
    display:table;
    clear: both;
}
.btn {
    display: inline-block;
    border-radius: 40px;
    padding: 9px 32px;
    background-color: var(--begie);
    color: #fff;
    text-decoration: none;
}
.btn-blue {
    display: inline-block;
    border-radius: 40px;
    padding: 9px 32px;
    background-color: var(--lightblue);
    color: #fff;
    text-decoration: none;
}
#jumbotron{
    width: 100vw;
    height: 670px;
    background-image: url(./img/jumbo-bg.png);

}
.jumbo-text-btn{
    position: relative;
}
#jumbo-wrapper{
    position: absolute;
    left: 0;
    top: 44vh;
}
.img-container img{
    padding: 2px;
    border-radius: 20px;
}
.img-container{
    border: 1px solid blue;
    width: 100%;
    border-radius: 20px;
}